NLCLabSource/artifacts/conversation-nodered-projectV2
[{"id":"ba549094.c38e3","type":"function","z":"c3121029.e5e058","name":"Pre-Proc","func":"\nvar text0 = '';\nvar lpayload =null;\n\n\n//Session Id Management\nif (global.get(\"globalSessionID\")) {\n    node.warn(\"session global set: \\n\" + global.get(\"globalSessionID\"));\n    msg.params ={};\n    msg.params.session_id = global.get(\"globalSessionID\");\n}\n\n//reset session ID if input null\nif (msg.payload.text){\n    text0=msg.payload.text;\n    msg.payload=text0\n    //retrieve the context and input\n        if (global.get(\"payloadRed\")) {\n            lcontextvariable = global.get(\"payloadRed\");\n            if (lcontextvariable.context && lcontextvariable.context.emotion){\n                node.warn(\"test: \\n\" + JSON.stringify(lcontextvariable));\n                msg.additional_context= {\"emotion\":lcontextvariable.context.emotion}\n            }\n            lpayload = {\n                \"context\": {},\n                \"input\":{\"text\": text0}\n            };\n            global.set(\"payloadRed\",lpayload)\n        } else \n        {\n            lpayload= {\n                \"context\": {},\n                \"input\":{ \"text\": text0}\n                };\n            global.set(\"payloadRed\",lpayload)    \n        }\n        \n        node.warn(\"contextvariable: \\n\" + JSON.stringify(lpayload));\n    } else {\n    msg.payload= null\n    //reset session\n    msg.params ={};\n    msg.params.session_id = \"\";\n    node.warn(\"New session: \\n\");\n    }\n\n//var text0 = msg.payload.text;\n//var lpayload = global.get(\"payloadRed\");\n\n\n    \n//Display the captured input    \nnode.warn(\"Input Captured: \" + msg.payload);\n\n//Update Public or Private Context\nif (global.get(\"updatesContext\")) {\n    var lupdatesContext = global.get(\"updatesContext\");\n    var lvariable = lupdatesContext.variable;\n    var lcontext = lupdatesContext.context;\n//    var lvalue = lupdatesContext.value;\n    \n    lupdatesContext = {\n        \"variable\":lvariable,\n        \"context\":lcontext,\n        \"value\" : text0,\n        };\n    global.set(\"updatesContext\",lupdatesContext);\n\n    if (lcontext===\"public\") {\n        //update public context\n        //msg.payload.context[lvalue] = text0;\n        node.warn(\"publicContext: \" + msg.payload);\n    }\n    else if (lcontext===\"private\") {\n        node.warn(\"private Context: \" + msg.payload);\n        //Reset the input sent to Assistant    \n        msg.payload=\"\";\n    }\n    \n    node.warn(\"Input Sent to Assistant: \" + msg.payload);\n    \n//    global.set(\"updatesContext\",null);\n}\n\n//Don't initiate API call when the user iniate the variables\n//if (global.get(\"initVariable\") === 1) \n//    {\n//    global.set(\"initVariable\",0);\n//    return [null,msg];\n//    }\n//else\n//    {\n//    return [msg,null];\n//    }\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":446.27276611328125,"y":214,"wires":[["f9751545.929fd8","a0541953.298bb"]]},{"id":"ec6eb09a.bced58","type":"function","z":"c3121029.e5e058","name":"Post-proc","func":"\nvar i;\nvar outputtext ='';\n//Save the global variable of Conversation\n//intents , entities, input.text, ouput, context\nvar lpayload = msg.payload;\nvar txt = \"\";\nvar x;\nvar lprivatecontext = global.get(\"privateContext\");\nvar lupdatesContext = null;\n//object description\n//    updatesContext ={\n//      \"variable\":lvariable,\n//      \"context\":lcontext,\n//      \"value\" : lvalue,\n//        };    \n\n//Return output text message\nif (msg.payload.output && msg.payload.output.generic[0] && msg.payload.output.generic[0].text) {\n    for (i=0 ; i < msg.payload.output.generic.length; i++)\n    {\n        outputtext = outputtext + ' ' +  msg.payload.output.generic[i].text;\n    }\n}\n\n//Manage session ID\nif (msg.payload.session_id) {\n    global.set(\"globalSessionID\",msg.payload.session_id);\n}\nnode.warn(\"session: \\n\" + global.get(\"globalSessionID\"));\n\n//global.set(\"payloadRed\",lpayload);\n\n// returns intents\nif (msg.payload.output.intents[0]) {\n   node.warn(\"intents: \" +  JSON.stringify(msg.payload.output.intents));\n    } else {\n    node.warn(\"intents: null\");    \n    }\n\n//prepare to update Public or Private Context\nif (msg.payload.output.user_defined && msg.payload.output.user_defined.updatesContext) {\n    global.set(\"updatesContext\",msg.payload.output.user_defined.updatesContext);\n    node.warn(\"updates Context: \" + JSON.stringify(msg.payload.output.user_defined.updatesContext));\n    } \n    else if (global.get(\"updatesContext\")) {\n        \n    lupdatesContext = global.get(\"updatesContext\");\n    global.set(\"updatesContext\",null);   \n        \n    } \n//identify the right Outputs\nif (msg.payload.output.user_defined && msg.payload.output.user_defined.CallToneAnalyser) {\n    //build the payload for the toneanalyser\n    var lpayload = global.get(\"payloadRed\");\n    var utterances = [];\n    utterances[0] ={\"text\":lpayload.input.text};\n    msg.payload.utterances = utterances;\n//    msg.payload =lpayload.input.text;  \n    return [null,msg];\n} else\n{\n    //build the payload for the Web Form\n//    for (x in lpayload.output.text){\n//        txt += lpayload.output.text[x]+ \" \";\n//        }\n \n    //Return output text message\n//    if (msg.payload.output && msg.payload.output.generic[0].text) {\n//        for (i=0 ; i < msg.payload.output.generic.length; i++)\n//        {\n//            output = output + ' ' +  msg.payload.output.generic[i].text;\n//            txt += msg.payload.output.generic[i].text+ \" \";\n//        }\n//    }\n \n    txt= outputtext;\n    node.warn(\"output sent by Assistant: \" + txt);\n    \n    if (txt.lastIndexOf(\"{{\")!==-1 && txt.lastIndexOf(\"}}\")!==-1){\n        var lvariable=txt.substring(txt.lastIndexOf(\"{{\")+2,txt.lastIndexOf(\"}}\"));\n        if (lvariable!==\"\"){\n            if (lupdatesContext && lupdatesContext.variable ===lvariable ){\n                var lvariableValue = lupdatesContext.value;\n                node.warn(\"public Context variable: \" + lvariable + \": \" +lvariableValue);\n            } else if (lprivatecontext[lvariable]) {\n                var lvariableValue = lprivatecontext[lvariable];\n                node.warn(\"private Context variable: \" + lvariable + \": \" +lvariableValue);\n            }\n            txt = txt.replace(\"{{\"+lvariable+\"}}\",lvariableValue);\n            node.warn(\"output sent to the user: \" + txt);\n        }\n    }\n    \n    msg.payload = txt;\n    return [msg,null];\n//return [msg];\n}\n\n\n","outputs":2,"noerr":0,"x":848.7125854492188,"y":214.40733337402344,"wires":[["42cbc721.c455c","c1ffde4e.d3c078"],["8b7ae4bd.a8843","c1ffde4e.d3c078"]]},{"id":"f9751545.929fd8","type":"watson-assistant-v2","z":"c3121029.e5e058","name":"","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","assistant_id":"","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"x":652.7727661132812,"y":213.99998474121094,"wires":[["ec6eb09a.bced58","ec7d4186.0f11a"]]},{"id":"c1ffde4e.d3c078","type":"debug","z":"c3121029.e5e058","name":"","active":false,"console":"false","complete":"true","x":1036.2727661132812,"y":172.1817626953125,"wires":[]},{"id":"a6225be3.69b34","type":"switch","z":"c3121029.e5e058","name":"Text Length","property":"payload.text.length","propertyType":"msg","rules":[{"t":"gt","v":"20","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":212.27276611328125,"y":573.1817474365234,"wires":[["f106bd99.504228"],["92fb122d.d3e43"]]},{"id":"7dfa858d.945a3c","type":"http in","z":"c3121029.e5e058","name":"HTML","url":"/watson-chatbot","method":"get","upload":false,"swaggerDoc":"","x":77,"y":98.18185424804688,"wires":[["e98152d8.8f22d8"]]},{"id":"e98152d8.8f22d8","type":"function","z":"c3121029.e5e058","name":"HTML Form","func":"\nvar html = \"\\n\\\n<html>\\n\\\n<head>\\n\\\n<script \\n\\\n  src='//code.jquery.com/jquery-3.1.1.min.js' \\n\\\n  integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=' \\n\\\n  crossorigin='anonymous'></script>\\n\\\n<script>\\n\\\nvar token = 'vH8Yx1kA9fK0sj3oENhnrjow';\\n\\\n$(function() {\\n\\\n    $('#message').keypress(function (e) {\\n\\\n        if (e.which == 13) {\\n\\\n            submit();\\n\\\n            return false;\\n\\\n        }\\n\\\n    });\\n\\\n    \\\n    $('#submit').click(submit);\\n\\\n    \\\n    function submit() {\\n\\\n        var msg = $('#message').val();\\n\\\n        $('#messages').append('<li class=\\\"human\\\">' + msg + '</li>')\\n\\\n        $('#message').val(\\\"\\\")\\n\\\n        var options = {\\n\\\n            url:'/watson-chatbot',\\n\\\n            method:'POST',\\n\\\n            data:{text: msg, token: token}\\n\\\n        }\\n\\\n        $.ajax(options).done(function(res) {\\n\\\n            $('#messages').append('<li class=\\\"robot\\\">' + res + '</li>')\\n\\\n            $('#messages').parent().scrollTop($('#messages').parent()[0].scrollHeight);\\n\\\n        })\\n\\\n    }\\n\\\n})\\n\\\n</script>\\n\\\n<style>\\n\\\n#messages {padding: 0px;} \\n\\\n#messages li {list-style-type: none; padding: 10px 30px; }\\n\\\n#message {padding-left: 10px; float: left; width: calc(100% - 100px); height: 50px; font-size: 30px;} \\n\\\nli.human {color: green; text-align: right}\\n\\\nli.robot {color: red; text-align: left}\\n\\\n</style>\\n\\\n</head>\\n\\\n<body style='margin: 0px;'>\\n\\\n    <div style='height: calc(100% - 60px); overflow-y: scroll;'>\\n\\\n        <ul id='messages'></ul>\\n\\\n    </div>\\n\\\n    <div style='position: fixed; bottom: 20px; width: 100%; height: 40px;'>\\n\\\n        <input id='message'/>\\n\\\n        <input id='submit' type='submit' style='float: left; width: 100px; height: 50px; '/>\\n\\\n    </div>\\n\\\n</body>\\n\\\n</html>\\n\\\n\"\n\nmsg.payload = html;\n\nreturn msg;","outputs":1,"noerr":0,"x":277,"y":98.18185424804688,"wires":[["b9de7c07.439488"]]},{"id":"b9de7c07.439488","type":"http response","z":"c3121029.e5e058","name":"","x":457,"y":98.18185424804688,"wires":[]},{"id":"e711984f.cfbdd","type":"watson-tone-analyzer-v3","z":"c3121029.e5e058","name":"","tones":"emotion","sentences":"false","contentType":"false","tone-method":"customerEngagementTone","interface-version":"2017-09-21","default-endpoint":false,"service-endpoint":"","x":482.27276611328125,"y":413.18174743652344,"wires":[["22655210.334c06","d387eede.a4538"]]},{"id":"22655210.334c06","type":"debug","z":"c3121029.e5e058","name":"","active":false,"console":"false","complete":"true","x":672.2727661132812,"y":373.18174743652344,"wires":[]},{"id":"533e5cfe.bd82bc","type":"natural-language-understanding","z":"c3121029.e5e058","name":"NLU Pre Proc","categories":true,"limitcategories":"","concepts":false,"maxconcepts":"8","doc-emotion":true,"doc-emotion-target":"","doc-sentiment":true,"doc-sentiment-target":"","entity":true,"entity-emotion":false,"entity-sentiment":false,"maxentities":"5","keyword":true,"keyword-emotion":false,"keyword-sentiment":false,"maxkeywords":"5","metadata":false,"relation":false,"semantic":false,"semantic-entities":true,"semantic-keywords":true,"maxsemantics":"50","limittextcharacters":"","default-endpoint":false,"service-endpoint":"","x":702.2727661132812,"y":573.1817474365234,"wires":[["3a619003.d42588","45f0173f.835c68"]]},{"id":"3a619003.d42588","type":"debug","z":"c3121029.e5e058","name":"","active":false,"console":"false","complete":"true","x":872.2727661132812,"y":533.1817474365234,"wires":[]},{"id":"68baaf66.6b6788","type":"link in","z":"c3121029.e5e058","name":"main stream pre processing","links":["ce65dfcc.35949","f026a2b5.96952","b924fd08.ea7f78","70307670.4a2828","92fb122d.d3e43"],"x":312.27276611328125,"y":257.18174743652344,"wires":[["ba549094.c38e3"]]},{"id":"2ada59f9.161d66","type":"comment","z":"c3121029.e5e058","name":"Web Form--------------------------------------------","info":"","x":208.7273406982422,"y":53.636383056640625,"wires":[]},{"id":"f66198f.7c44468","type":"comment","z":"c3121029.e5e058","name":"Tone Analyser-----------------------------------------","info":"","x":202.27276611328125,"y":313.18174743652344,"wires":[]},{"id":"f106bd99.504228","type":"function","z":"c3121029.e5e058","name":"Pre - processing","func":"\nmsg.payload = msg.payload.text;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":462.27276611328125,"y":573.1817474365234,"wires":[["533e5cfe.bd82bc","66ddfd29.390ffc"]]},{"id":"3c2e0e5d.53fe0a","type":"link in","z":"c3121029.e5e058","name":"tone analyser","links":["8b7ae4bd.a8843"],"x":317.27276611328125,"y":413.18174743652344,"wires":[["e711984f.cfbdd"]]},{"id":"19feae07.db06ba","type":"comment","z":"c3121029.e5e058","name":"Natural Language understanding-------------------","info":"","x":202.27276611328125,"y":473.18174743652344,"wires":[]},{"id":"d1c20558.715018","type":"link out","z":"c3121029.e5e058","name":"User Input","links":["368ef5ae.10048a","78ebdce3.9057b4"],"x":196.27279663085938,"y":256.18174743652344,"wires":[]},{"id":"d387eede.a4538","type":"function","z":"c3121029.e5e058","name":"add emotion to context","func":"var emotions = [];\nvar threshold = 0.5;\nvar topemotion ='';\nvar emptystring ='';\nvar lpayload = global.get(\"payloadRed\");\n\n// simplify object returned by tone analyser to only the emotion tones\nemotions = msg.response.utterances_tone\n .filter(function(c){\n return c;\n })[0].tones;\n \n//set text input for Conversation\n//msg.payload.input.text=\"\";\n\nif (emotions.length > 0) {\n    node.warn(\"Detected tones: \\n\" + JSON.stringify(emotions));\n} else {\n    node.warn(\" no detected tones: \\n\");\n    delete msg.response\n    //set text input for Conversation\n    msg.payload.text=\"\";\n    return msg;\n}\n\n// find highest score and return that tone name, if that score is greater than the threshold\ntopemotion = emotions.reduce(function(a, b){ return a.score > b.score ? a : b; });\n\nif (topemotion.score > threshold) {\n topemotion = topemotion.tone_name;\n} else {\n topemotion = \"neutral\";\n}\n\n//retrieve the context and send it to Conversation\n// and add top emotion to conversation context\nif (global.get(\"payloadRed\")) {\n    \n    lpayload = {\n        \"context\":{\"emotion\":topemotion},\n        \"input\":{\"text\":\"\"}\n    };\n    global.set(\"payloadRed\",lpayload);\n} else {\n    \n}\nnode.warn(\"contextvariable: \\n\" + JSON.stringify(lpayload));\n\ndelete msg.response\n\n//set text input for Conversation\nmsg.payload.text=topemotion;\nnode.warn(\"Emotion added to conversation context:\\b \" + topemotion); \n\nreturn msg;\n","outputs":1,"noerr":0,"x":732.2727661132812,"y":413.18174743652344,"wires":[["f04de5a5.607458","f026a2b5.96952"]]},{"id":"f04de5a5.607458","type":"debug","z":"c3121029.e5e058","name":"","active":false,"console":"false","complete":"true","x":932.2727661132812,"y":373.18174743652344,"wires":[]},{"id":"8b7ae4bd.a8843","type":"link out","z":"c3121029.e5e058","name":"","links":["3c2e0e5d.53fe0a"],"x":1006.2727661132812,"y":255.18174743652344,"wires":[]},{"id":"f026a2b5.96952","type":"link out","z":"c3121029.e5e058","name":"","links":["68baaf66.6b6788"],"x":897.2727661132812,"y":413.18174743652344,"wires":[]},{"id":"45f0173f.835c68","type":"function","z":"c3121029.e5e058","name":"add Location to context","func":"var location = [];\nvar threshold = 0.5;\nvar entities ='';\nvar emptystring ='';\nvar lpayload = global.get(\"payloadRed\");\nvar language=''\n\n// simplify object returned by NLU to only the Location\nentities = msg.features.entities;\nlanguage = msg.features.language;\n\nif (entities.length > 0) {\n    if (entities[0].type==\"Location\") {\n        location=entities[0].text;\n        \n        //retrieve the context and send it to Conversation\n        // and add Location to conversation context\n        if (global.get(\"payloadRed\")) {\n            lpayload.context.location=location;\n            lpayload.context.language=language;\n            global.set(\"payloadRed\",lpayload);  \n        }\n    } \n    node.warn(\"Entities: \\n\" + JSON.stringify(entities));\n    node.warn(\"Language: \\n\" + JSON.stringify(language));\n} else {\n    node.warn(\" no detected entity: \\n\");\n    \n}\n\n//set text input for Conversation\ndelete msg.features;\ntext = msg.payload;\ndelete msg.payload;\nvar lcpayload={'text':text}\nmsg['payload'] = lcpayload;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":952.2727661132812,"y":573.1817474365234,"wires":[["70307670.4a2828","8dc03272.bdf04"]]},{"id":"70307670.4a2828","type":"link out","z":"c3121029.e5e058","name":"","links":["68baaf66.6b6788"],"x":1117.2727661132812,"y":573.1817474365234,"wires":[]},{"id":"8dc03272.bdf04","type":"debug","z":"c3121029.e5e058","name":"","active":false,"console":"false","complete":"true","x":1152.2727661132812,"y":533.1817474365234,"wires":[]},{"id":"66ddfd29.390ffc","type":"debug","z":"c3121029.e5e058","name":"","active":false,"console":"false","complete":"true","x":622.2727661132812,"y":533.1817474365234,"wires":[]},{"id":"92fb122d.d3e43","type":"link out","z":"c3121029.e5e058","name":"","links":["68baaf66.6b6788"],"x":317.27276611328125,"y":613.1817474365234,"wires":[]},{"id":"78ebdce3.9057b4","type":"link in","z":"c3121029.e5e058","name":"","links":["d1c20558.715018"],"x":77.27276611328125,"y":573.1817474365234,"wires":[["a6225be3.69b34"]]},{"id":"ddf27982.a678b8","type":"comment","z":"c3121029.e5e058","name":"Main stream","info":"","x":98.27276611328125,"y":151.99996948242188,"wires":[]},{"id":"f1f20c5e.950e28","type":"http in","z":"c3121029.e5e058","name":"Input","url":"/watson-chatbot","method":"post","upload":false,"swaggerDoc":"","x":78.27276611328125,"y":216,"wires":[["46c6388c.df687","ba549094.c38e3"]]},{"id":"46c6388c.df687","type":"debug","z":"c3121029.e5e058","name":"","active":false,"console":"false","complete":"true","x":262.27276611328125,"y":184.99998474121094,"wires":[]},{"id":"42cbc721.c455c","type":"http response","z":"c3121029.e5e058","name":"","x":1037.2727661132812,"y":212.99998474121094,"wires":[]},{"id":"3e25a7eb.0541","type":"comment","z":"c3121029.e5e058","name":"--------------------Conversation message API Call ---------------------------","info":"","x":647.2727661132812,"y":147.99998474121094,"wires":[]},{"id":"ec7d4186.0f11a","type":"debug","z":"c3121029.e5e058","name":"","active":false,"console":"false","complete":"true","x":837.1299438476562,"y":253.46751403808594,"wires":[]},{"id":"a0541953.298bb","type":"debug","z":"c3121029.e5e058","name":"","active":false,"console":"false","complete":"true","x":634.1299438476562,"y":253.46751403808594,"wires":[]}]